<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suchary</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div id="wrapper">
        <h1 class="header">Welcome on the jokes website</h1>
        <a class="inner-link" th:href="@{jokes/add}"><div class="add-button">+ Add new joke +</div></a>
        <div id="categories">
            <h3 class="header">Categories</h3>
            <div class="category" th:each="category : ${categories}" th:text="${category.name}">
                category
            </div>
        </div>

        <div id="jokes">
            <div class="joke" th:each="joke : ${jokes}">
                <h2 class="title" th:text="${joke.title}">Title</h2>
                <pre class="content" th:text="${joke.content}">Content</pre>
            </div>
        </div>

        <div class="clear: both;"></div>
    </div>

</body>
</html>