<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jokes</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<div id="menu">
    <a th:href="@{/}" class="menu-item">Home</a>
    <a th:href="@{/categories}" class="menu-item">Categories</a>
    <a th:href="@{/users}" class="menu-item">Users</a>
    <a th:href="@{/jokes/add}" class="menu-item">+ Add new joke +</a>

    <div style="clear: both;"></div>
</div>
<div id="wrapper">
    <h1 class="header">Welcome on the jokes website</h1>
    <div id="categories">
        <h3 class="header">Categories</h3>
        <a class="inner-link" th:each="category : ${categories}" th:href="@{/jokes(categoryId=${category.id})}">
            <div class="category" th:text="${category.name}">
                category
            </div>
        </a>

    </div>

    <div id="jokes">
        <div class="joke" th:each="joke : ${jokes}">
            <h2 class="title" th:text="${joke.title}">Title</h2>
            <pre class="content" th:text="${joke.content}">Content</pre>
            <div class="joke-info">Author: <span th:text="${joke.user?.username}"></span></div>
        </div>
    </div>

    <div class="clear: both;"></div>
</div>

</body>
</html>