#form-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #EEE;
    min-height: 300px;
    border: 2px dashed #AAA;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    font-size: 16px;
    width: 100%;
    margin: 20px 0px;
}

textarea {
    font-size: 14px;
    width: 100%;
    margin: 20px 0px;
}

input[type=submit] {
     font-size: 16px;
     background-color: #299644;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     margin-top: 40px;
}