<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new category</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div id="menu">
    <a th:href="@{/}" class="menu-item">Home</a>
    <a th:href="@{/categories}" class="menu-item">Categories</a>
    <a th:href="@{/users}" class="menu-item">Users</a>
    <a th:href="@{/jokes/add}" class="menu-item">+ Add new joke +</a>

    <div style="clear: both;"></div>
</div>
<h1 class="header">Add new category</h1>

<div id="form-container">
    <form method="post" th:action="@{/categories/add}" th:object="${category}">
        <input type="text" placeholder="category name" th:field="*{name}">

        <input type="Submit" value="Add">

    </form>
</div>

</body>
</html>