<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>

<body>
<div id="menu">
    <a th:href="@{/}" class="menu-item">Home</a>
    <a th:href="@{/categories}" class="menu-item">Categories</a>
    <a th:href="@{/users}" class="menu-item">Users</a>
    <a th:href="@{/jokes/add}" class="menu-item">+ Add new joke +</a>

    <div style="clear: both;"></div>
</div>
<h1 class="header">Categories List</h1>
<div id="wrapper">

    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>