<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new joke</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div id="menu">
    <a th:href="@{/}" class="menu-item">Home</a>
    <a th:href="@{/categories}" class="menu-item">Categories</a>
    <a th:href="@{/users}" class="menu-item">Users</a>
    <a th:href="@{/jokes/add}" class="menu-item">+ Add new joke +</a>

    <div style="clear: both;"></div>
</div>
<h1 class="header">Add new joke</h1>

<div id="form-container">
    <form method="post" th:action="@{/jokes/add}" th:object="${joke}">
        <input type="text" placeholder="Title" th:field="*{title}">
        <textarea rows="7" placeholder="joke" th:field="*{content}"></textarea>

        <h3>Category</h3>
        <div th:each="category : ${categories}">
            <input th:attr="id=${category.id}" type="checkbox" name="category" th:value="${category.id}">
            <label th:attr="for=${category.id}" th:text="${category.name}">Category</label>
        </div>

        <input type="Submit" value="Add">

    </form>
</div>

</body>
</html>